.layoutwrapper {
  padding: 40px 20px;
  background-color: #e2e2e2;
}

.layoutcontent {
  padding: 10px;
  min-height: 280px;
  background-color: white;
}

  @media only screen and (max-width: 767px) {
    .layoutwrapper {
      padding: 50px 20px;
    }
  }

  @media (max-width: 580px) {
    .layoutwrapper {
      padding: 15px;
    }
  }
